.section-content {
    height: 100vh;
    width: 100%;
    background: #fafafa;
    .container {
        padding: 25% 25%;
    }
}
.section-content2 {
    height: 20vh;
    width: 100%;
    background: #fafafa;
}
